body {
    margin:0; padding:0;
     height: 100%;
     overflow: auto;
}
html {
    height: 100%;
    overflow: auto;
}

#map-canvas {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      z-index: 1;
      overflow: auto;
    }

#mapCanvas {
    position: absolute;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
}

.container {
    position: fixed;
    margin: 42px auto !important;
    margin-left: 42px !important;
    background-color: transparent;
    z-index: 2;
    width: 330px;
    height: 340px;
    overflow: auto;
    border-radius: 152px;
 }

.one-third {
    background-color: transparent;
    z-index: 98;
    height: 100%;
    margin-bottom: 10px !important;
    margin-left: none !important;
    margin-right: none !important;
    width: 310px !important;
    max-height: auto !important; 
        border-radius: 202px;
}

.column {
    background-color: transparent;
    z-index: 99;
    width: 400px;
    height: 100%;
        border-radius: 202px;

}
.nextbutton {
    width: 200px;
    height: 200px;
    background-color: rgba(255,255,0,0.3) !important;
    border-radius: 202px;
    color: black;
    border-color: solid black 2px;
    z-index: 99;
}

.nextnextbutton {
    width: 200px;
    height: 200px;
    background-color: rgba(255,255,0,0.3) !important;
    border-radius: 4px;
    color: black;
    border-color: solid black 2px;
    z-index: 99;
}
.startboxL {  
    background-color: rgba(250,250,0,1);
    z-index: 99;
    min-height: 400px !important; 
    border: solid 0px rgba(255,0,183,0.1);
    width: 400px;
    color: black;
    border-radius: 2px;
    border: solid black: 2px;
}

.startbox { 
    background-color: rgba(250,250,0,1);
    z-index: 99;
    min-height: 300px !important; 
    width: 404px;
    color: black;
    height: 100px;
    border-radius: 202px;
    border: solid black 5px;
}

.startboxR {  
    background-color: rgba(250,250,0,1);
    z-index: 99;
    min-height: 400px !important; 
    border: solid 0px rgba(255,0,183,0.1);
    width: 400px;
    color: black;
    border-radius: 2px;
    border: solid black 2px;
}

.middle-box {
    font-family: inherit;
    text-shadow: 1px 1px #ffffff;
    font-size: 12px;
    text-align: center;
    font-family: helvetica;
    font-size: small;
    color: rgba(0,0,0,1);
        background-color: rgba(250,250,0,1);
    z-index: 99;
    min-height: 400px !important; 
    border: solid 0px rgba(255,0,183,0.1);
    width: 270px;

    animation: fadein 3.0s;
    -moz-animation: fadein 3.0s; /* Firefox */
    -webkit-animation: fadein 3.0s; /* Safari and Chrome */
    -o-animation: fadein 3.0s; /* Opera */
}

#one {
    margin: 0px auto;
    font-family: inherit;
    text-shadow: 1px 1px #ffffff;
    font-size: 12px;
    text-align: center;
    font-family: helvetica;
    font-size: small;
    color: rgba(0,0,0,1);
    height: 150px;
    border-radius: 202px;

    animation: fadein 2.0s;
    -moz-animation: fadein 1.0s; /* Firefox */
    -webkit-animation: fadein 1.0s; /* Safari and Chrome */
    -o-animation: fadein 1.0s; /* Opera */
}
#two {
    margin: 0px auto;
    font-family: inherit;
    text-shadow: 1px 1px #ffffff;
    font-size: 12px;
    text-align: center;
    font-family: helvetica;
    font-size: small;
    color: rgba(0,0,0,1);

    animation: fadein 1.0s;
    -moz-animation: fadein 1.0s; /* Firefox */
    -webkit-animation: fadein 1.0s; /* Safari and Chrome */
    -o-animation: fadein 1.0s; /* Opera */
}

.textstyle {
margin: auto;
    font-family: inherit;
    text-shadow: 1px 1px #ffffff;
    font-size: 12px;
    text-align: center;
    font-family: helvetica;
    font-size: small;
    color: rgba(0,0,0,1);

    animation: fadein 1.0s;
    -moz-animation: fadein 1.0s; /* Firefox */
    -webkit-animation: fadein 1.0s; /* Safari and Chrome */
    -o-animation: fadein 1.0s; /* Opera */
}



/*.text {
    font-family: inherit;
    text-shadow: 1px 1px #ffffff;
    font-size: 12px;
    text-align: center;
    font-family: helvetica;
    font-size: small;
    color: rgba(0,0,0,1);

    animation: fadein 6.0s;
    -moz-animation: fadein 6.0s; /* Firefox */
    -webkit-animation: fadein 6.0s; /* Safari and Chrome */
}*/

.box {
    margin: 100px auto !important;
    width: 150px;
    height: 15px;
    font-family: helvetica;
    border: 3px solid;
    border-color: rgba(0,0,0,0.3); 
    background-color: rgba(235,235,235,1);
    border-radius: 7px;
    font-size: small;
    color: rgba(0,0,0,0.7);
}


.flagimages {
    margin-left: auto;
    margin-right: auto;
    width: 72px;
    height: 72px;
    margin-top: 50px;

}

.button {
    border: 3px solid;
    border-color: rgba(0,0,0,0.3); 
    background-color: black;
    border-radius: 7px;
    margin: auto !important;
    z-index: 99;

}

input[type="submit"]{
    background-color: rgba(0,0,0,0.1);
    color: white;
}
input[type="submit"]:hover{
    background-color: rgba(0,0,0,0.1); !important;
    color: black !important;
}
input[type="submit"]:focus{
     background-color: white;
    color: black;
}
input[type="submit"]:active{
     background-color: white;
    color: black;

}


#middle { 
    background-color: rgba(250,250,0,1);
    color: black;

animation: fadein: 6.0s;
    -moz-animation: fadein 6.0s; /* Firefox */
    -webkit-animation: fadein 6.0s; /* Safari and Chrome */
    -o-animation: fadein 6.0s; /* Opera */
}

.fade {

    animation: fadein 1s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:7;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
    }​


    .fademap {

        animation: fadein 5s;
        -moz-animation: fadein 5s; /* Firefox */
        -webkit-animation: fadein 5s; /* Safari and Chrome */
        -o-animation: fadein 5s; /* Opera */
    }
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
        }​
