body {
    margin:0; padding:0;
     height: 100%;
     overflow: hidden;
}

html {
    height: 100%;
    overflow: auto;
}

#map-canvas {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      z-index: 1;
      overflow: auto;
    }

#mapCanvas {
    position: absolute;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
}

.container {
    position: fixed;
    top: 22px;
    left: 50%;
    width: auto;
    height: auto;
    margin-left: -170px;
    background-color: transparent;
     z-index: 99;
    overflow: auto;
 }

.column {
    background-color: transparent;
    z-index: 99;
    width: 100%;
    height: 100%;
    margin: auto !important;

}
/*
.row{
    height: 100%;
    width: 100%;
}*/

.one-third { 
    background-color: transparent;
    z-index: 99;
    height: 450px;
    min-width: 300px !important;
    max-width: 300px !important;
    width: auto;
    margin: auto !important;
    max-height: auto !important; 
}

.startbox { 
    background-color: rgba(255,255,88,1);
    z-index: 99;
    border-radius: 3px;
    border: solid black 2px;
    margin: auto !important;

      animation: fadein 1.0s;
    -moz-animation: fadein 1.0s; /* Firefox */
    -webkit-animation: fadein 1.0s; /* Safari and Chrome */
    -o-animation: fadein 1.0s; /* Opera */
}

#text-box {
    background-color: rgba(250,250,0,1);
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    z-index: 99;
    height: auto;
    width: 66px !important;
    margin: 1% auto;
    border-radius: 2px;
    border: solid black 2px;
    text-align: left;
    font-family: 'Contrail One', cursive;
    font-size: small;
    display: inline-block;

animation: fadein 0.5s !important;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */

}


#text-boxfade {
    background-color: rgba(250,250,250,1);
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    z-index: 99;
    height: auto;
    width: 66px !important;
    margin: 1% auto;
    margin-right: 1%;
    border-radius: 2px;
    border: solid black 2px;
    text-align: left;
    font-family: 'Contrail One', cursive;
    font-size: small;
    daffont-style: italic;


    animation: fadein 1.0s !important;
    -moz-animation: fadein 1.0s; /* Firefox */
    -webkit-animation: fadein 1.0s; /* Safari and Chrome */
    -o-animation: fadein 1.0s; /* Opera */
}

#text-boxtwo {
    background-color: rgba(250,250,0,1);
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    z-index: 99;
    height: auto;
    width: 66px !important;
    margin: 1% auto;
    border-radius: 2px;
    border: solid black 2px;
    text-align: left;
    font-family: 'Contrail One', cursive;
    font-size: small;
    display: inline-block;



animation: fadein 1.5s !important;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */

}

#text-boxfadetwo {
    background-color: rgba(250,250,250,1);
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    z-index: 99;
    height: auto;
    width: 66px !important;
    margin: 1% auto;
    border-radius: 2px;
    border: solid black 2px;
    text-align: left;
    font-family: 'Contrail One', cursive;
    font-size: small;


 animation: fadein 2.0s !important;
    -moz-animation: fadein 2.0s; /* Firefox */
    -webkit-animation: fadein 2.0s; /* Safari and Chrome */
    -o-animation: fadein 2.0s; /* Opera */
}

#one {    
    position: fixed;
    top: 22px;
    left: 10px;
    width: auto;
    height: auto;
    background-color: transparent;
    font-family: 'Contrail One', cursive;   
    font-size: 12px;
    text-align: center;
    font-family: helvetica;
    font-size: small;
    color: rgba(0,0,0,1);
    border-radius: 202px;
    z-index: 99;

    animation: fadein 0.5s;
    -moz-animation: fadein 1.0s; /* Firefox */
    -webkit-animation: fadein 1.0s; /* Safari and Chrome */
    -o-animation: fadein 1.0s; /* Opera */
}

#two {    
    position: fixed;
    top: 22px;
    left: 10px;
    width: auto;
    height: auto;
    background-color: transparent;
    font-family: 'Contrail One', cursive;   
    font-size: 12px;
    text-align: center;
    font-family: helvetica;
    font-size: small;
    color: rgba(0,0,0,1);
    border-radius: 202px;
    z-index: 99;

    animation: fadein 0.5s;
    -moz-animation: fadein 1.0s; /* Firefox */
    -webkit-animation: fadein 1.0s; /* Safari and Chrome */
    -o-animation: fadein 1.0s; /* Opera */
}

.nextbutton {
 
}

.textstyle {
    margin: auto;
   font-family: 'Contrail One', cursive;
    text-shadow: 1px 1px #ffffff;
    font-size: 12px;
    text-align: center;
    font-size: small;
    color: rgba(0,0,0,1);

    animation: fadein 1.0s;
    -moz-animation: fadein 1.0s; /* Firefox */
    -webkit-animation: fadein 1.0s; /* Safari and Chrome */
    -o-animation: fadein 1.0s; /* Opera */
}



/*.text {
    font-family: inherit;
    text-shadow: 1px 1px #ffffff;
    font-size: 12px;
    text-align: center;
    font-family: helvetica;
    font-size: small;
    color: rgba(0,0,0,1);

    animation: fadein 6.0s;
    -moz-animation: fadein 6.0s; /* Firefox */
    -webkit-animation: fadein 6.0s; /* Safari and Chrome */
}*/

.box {
    margin: 100px auto !important;
    width: 150px;
    height: 15px;
    font-family: helvetica;
    border: 3px solid;
    border-color: rgba(0,0,0,0.3); 
    background-color: rgba(235,235,235,1);
    border-radius: 7px;
    font-size: small;
    color: rgba(0,0,0,0.7);
}


.flagimages {
    margin-left: auto;
    margin-right: auto;
    width: 72px;
    height: 72px;
    margin-top: 50px;

}

.button {
    width: 30px;
    height: 14px;
    background-color: rgba(0,0,0,1) !important;
    border-radius: 5px;
    border-color: solid black 2px;
    border: 1px solid;
    color: white !important; 
    font-family: 'Contrail One', cursive;
    z-index: 99;

}

.form {
    margin: auto;
}

input[type="submit"]{
    background-color: rgba(0,0,0,0.1); !important;
    color: white !important;
}
input[type="submit"]:hover{
    background-color: rgba(250,250,250,1); !important;
    color: black !important;
}
input[type="submit"]:focus{
  background-color: rgba(0,0,0,0.1); !important;
    color: white !important;
}
input[type="submit"]:active{
    background-color: rgba(0,0,0,0.1); !important;
    color: white !important;

}


#middle { 
    background-color: rgba(250,250,0,1);
    color: black;

animation: fadein: 6.0s;
    -moz-animation: fadein 6.0s; /* Firefox */
    -webkit-animation: fadein 6.0s; /* Safari and Chrome */
    -o-animation: fadein 6.0s; /* Opera */
}

.fade {

    animation: fadein 1s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:7;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
    }​


    .fademap {

        animation: fadein 5s;
        -moz-animation: fadein 5s; /* Firefox */
        -webkit-animation: fadein 5s; /* Safari and Chrome */
        -o-animation: fadein 5s; /* Opera */
    }
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
        }​
